[Unit]
Description=Python Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/bz/ansibleTask/pythonService.py
Restart=always
User=nobody


[Install]
WantedBy=multi-user.target
